<uib-tabset active="0" justified="true" type="tabs" vertical="true" class="login-tab">
    <uib-tab index="0" heading="登陆">
        <div style="padding:0px 20px 20px 20px">
                <div class="form-group">
                    <label for="name">用户名</label>
                    <input type="text" class="form-control social-login" autocomplete="off" placeholder="用户名">
                    <span class="glyphicon glyphicon-user social-login-img"></span>
                </div>
                <div class="form-group">
                    <label for="password">密码</label>
                    <input type="password" class="form-control social-login" autocomplete="off" placeholder="密码">
                    <span class="glyphicon glyphicon-lock social-login-img"></span>
                </div>
                <div class="checkbox social">
                    <label>
                        <input type="checkbox" class="social"><label for="">记住密码</label>
                        <a href="">忘记密码？</a>
                    </label>
                </div>
                <div ng-bind="loginResult"></div>
                <button class="btn btn-social-twitter btn-sm" style="width: 558px;" ng-click = "nbCtrl1.doLogin()">登陆</button>
        </div>
    </uib-tab>
    <uib-tab index="1" heading="注册">
        <div style="padding:0px 20px 20px 20px">
            <form action="">
                <div class="form-group">
                    Lot of HTML code here for regist.
                </div>
            </form>
        </div>
    </uib-tab>
</uib-tabset>