<div class="navbar-inner">
    <div class="container-fluid">
          <div class="nav-collapse">
                <ul class="nav">
                      <li class="active"><a href="javascript:;" ui-sref="index">主页</a></li>
                      <li><a href="javascript:;" ng-click="alert('Dekyou')">音乐</a></li>
                      <li><a href="javascript:;">微博</a></li>
                      <li><a href="javascript:;" ui-sref="technics">技术</a></li>
                      <li>
                            <a href="javascript:;">联系我们</a>
                            <ul>
                                   <li><a href="javascript:;">Twitter</a></li>
                                   <li><a href="javascript:;">FaceBook</a></li>
                                   <li><a href="javascript:;">E-Mail</a></li>
                             </ul>
                      </li>
                </ul>
          </div>
          <div class="nav-collapse pull-right">
                <div role="search">
                    <form action="" class="navbar-form">
                        <input type="text" class="form-search"  placeholder="搜索">
                        <span class="glyphicon glyphicon-search"></span>
                    </form>
                </div>
                 <ul class="nav">
                     <li><a href="javascript:;" ng-click="open('.social-login')">登陆</a></li>
                 </ul>
          </div>

          <!--/.nav-collapse -->
    </div>
</div>