<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<!-- 确保适当的绘制和触屏缩放，针对移动端 -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- 在移动设备浏览器上，通过为视口（viewport）设置 meta 属性为 user-scalable=no 可以禁用其缩放（zooming）功能。这样禁用缩放功能后，用户只能滚动屏幕，就能让你的网站看上去更像原生应用的感觉。注意，这种方式我们并不推荐所有网站使用，还是要看你自己的情况而定！ -->
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> -->
	<link rel="stylesheet" type="text/css" href="../assets/bootstrap/css/bootstrap.css">
	
	<link rel="stylesheet" type="text/css" href="../assets/jquery-data-table/css/jquery.dataTables.css">
	<link rel="stylesheet" type="text/css" href="../assets/jquery-data-table/css/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="../assets/angularjs-datatable/css/angular-datatables.css">
	<!-- <link rel="stylesheet" type="text/css" href="../assets/bootstrap-datatable/css/datatables.bootstrap.min.css"> -->
	<link rel="stylesheet" type="text/css" href="../assets/social/css/social-layout.css">
	<link rel="stylesheet" type="text/css" href="../assets/social/css/social.css">
	<style>
		.color1{
			background-color: #2b542c;
		}
		.color2{
			/*background-color: #ef897e;*/
			font-size: 30px;
		}
		.color3{
			/*background-color: #00a1cb;*/
			color: #1abc9c;
		}
	</style>
	<title>angular-datatables</title>
</head>
<body ng-app="tableApp" ng-controller="tableCtrl">
	<div class="col-md-4 col-md-offset-4">
		<div class="panel panel-info">
			<div class="panel-heading">gaojing</div>
			<div class="panel-body">
				<div class="form-group">
					<label for="Name">Name</label>
					<input type="text" class="form-control" ng-disabled="false" ng-model="name">

				</div>
				<div class="form-group">
					<button class="btn btn-success" ng-disabled="!name">submit</button>
				</div>
				<div class="form-group">
					<label for="email">Email</label>
					<input type="text" class="form-control" ng-model="email">
					<input type="checkbox" ng-checked="email">
				</div>
				<div class="form-group">
					<label for="firstname">FirstName</label>
					<input type="text" class="form-control" ng-model="userUrl">
					<a ng-href="{{userUrl}}">Goto</a>
				</div>
				<div class="form-group">
					<div ng-switch on="lastname">
						<label for="lastname" ng-switch-default>LastName</label>
						<label for="lastname" ng-switch-when="Dekyou">gaojing</label>
					</div>
					<input type="text" class="form-control" ng-model="lastname">
				</div>
				<div class="form-group">
					<div ng-class="{color1:t1,color2:t2,color3:t3}">gaojing</div>
					<input type="text" class="form-control" ng-model="t1">
					<input type="text" class="form-control" ng-model="t2">
					<input type="text" class="form-control" ng-model="t3">
				</div>
			</div>
		</div>
	</div>
</body>
 <script src="../assets/bootstrap/js/jquery.js"></script>
 <script src="../assets/angularjs/angular.js"></script>
 <script src="../assets/flatui/js/flat-ui.js"></script>
 <script src="../assets/jquery-data-table/js/jquery.dataTables.js"></script>
 <script src="../assets/angularjs-datatable/js/angular-datatables.js"></script>
 <!-- <script src="../assets/bootstrap-datatable/js/angular-datatables.bootstrap.js"></script> -->
<script>
    var tableApp = angular.module('tableApp',['datatables'])
        .controller('tableCtrl',function ($scope,DTOptionsBuilder,DTColumnBuilder) {
            var vm = this;
            vm.dtOptions = DTOptionsBuilder.fromSource('../data/angularDataTable3.json').withPaginationType('full_numbers');
            vm.dtColumns = [
                DTColumnBuilder.newColumn('id').withTitle('ID'),
                DTColumnBuilder.newColumn('firstName').withTitle("FirstName"),
                DTColumnBuilder.newColumn('lastName').withTitle("LastName")
            ];
        });
</script>
</html>