<!--
<iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=450 src="//music.163.com/outchain/player?type=0&id=25209688&auto=1&height=430"></iframe>
-->
<div class="commonboard">
    <div class="border-head">
        <h3>技术引领 创新驱动</h3>
    </div>
    <div class="border-body">
        <p>技术是解决问题的方法及方法原理,是指人们利用现有事物形成新事物，或是改变现有事物功能、性能的方法。</p>
        <p><a class="btn btn-social-twitter btn-large">随便转转</a></p>
    </div>
</div>
<hr>
<div class="row-fluid">
    <div class="span2">
        <div class="tile" style="border:1px solid #e3e3e3;">
            <img class="tile-image" alt="" src="console/assets/social/images/infinity.png">
            <h3 class="tile-title">技术</h3>
            <p>创新核心的技术理念。</p>
            <a class="btn btn-social-twitter btn-large btn-block" href="#">去看看</a>
        </div>
    </div>
    <div class="span2">
        <div class="tile" style="border:1px solid #e3e3e3;">
            <img class="tile-image" alt="" src="console/assets/social/images/compass.png">
            <h3 class="tile-title">地图</h3>
            <p>领略自然的美好，看世界地图。</p>
            <a class="btn btn-social-twitter btn-large btn-block" href="#">去看看</a>
        </div>
    </div>
    <div class="span2">
        <div class="tile" style="border:1px solid #e3e3e3;">
            <img class="tile-image" alt="" src="console/assets/social/images/clipboard.png">
            <h3 class="tile-title">清单</h3>
            <p>每日清单查看的列表，补补清单。</p>
            <a class="btn btn-social-twitter btn-large btn-block" href="#">去看看</a>
        </div>
    </div>
    <div class="span2">
        <div class="tile" style="border:1px solid #e3e3e3;">
            <img class="tile-image" alt="" src="console/assets/social/images/map.png">
            <h3 class="tile-title">指南</h3>
            <p>方向很重要，看清方向，就在步步指南。</p>
            <a class="btn btn-social-twitter     btn-large btn-block" href="#">去看看</a>
        </div>
    </div>



</div><!--/row-->


