          <div class="leaderboard">
            <h3>技术引领 创新驱动</h3>
            <p>技术是解决问题的方法及方法原理,是指人们利用现有事物形成新事物，或是改变现有事物功能、性能的方法。</p>
            <p><a class="btn btn-success btn-large">随便转转</a></p>
          </div>
          <div class="row-fluid">
            <div class="span4">
              <h6>HTML</h6>
              <p>超文本标记语言的结构包括“头”部分（英语：Head）、和“主体”部分（英语：Body），其中“头”部提供。 </p>
              <p><a class="btn btn-success btn-large" href="#">开始学习</a></p>
            </div><!--/span-->
            <div class="span4">
              <h6>Java</h6>
              <p>Java是一门面向对象编程语言，不仅吸收了C++语言的各种优点，还摒弃了C++里难以理解的多继承、指针等概念. </p>
              <p><a class="btn btn-success btn-large" href="#">开始学习</a></p>
            </div><!--/span-->
            <div class="span4">
              <h6>AngularJS</h6>
              <p>AngularJS 教程 AngularJS 通过新的属性和表达式扩展了 HTML。 AngularJS 可以构建一个单一页面应用程序. </p>
              <p><a class="btn btn-success btn-large" href="#">开始学习</a></p>
            </div><!--/span-->
          </div><!--/row-->
          <hr>
     <footer>
        <p>&copy; Company 2017</p>
      </footer>
