@media screen and (min-width: 1377px) {
    .container-fluid {
        width:1190px;
    }
}
@media screen and (max-width: 1377px) {
    .container-fluid {
        width:1280px;
    }
}
 body {
 		background-color:#f6f6f6;
        padding-top: 61px;
        padding-bottom: 40px;
      }
#menu{
	background-color:#fff;
}

#container{
	background-color:#fff;
	padding: 0px 25px 0px 25px;
}
#navbar{
	margin-bottom:14px;
}
.navbar .nav {
	padding-left:0px;
}

.container-index{
    margin-top:-14px;
}
.border-head,.border-body{
    padding:20px 30px;
}
.row-fluid {
  width: 100%;
  *zoom: 1;
}
.row-fluid:before, .row-fluid:after {
  display: table;
  content: "";
}
.row-fluid:after {
  clear: both;
}
.row-fluid > [class*="span"] {
  float: left;
  margin-left: 2.127659574%;
}
.row-fluid > [class*="span"]:first-child {
  margin-left: 0;
}
.row-fluid > .span1 {
  width: 6.382978723%;
}
.row-fluid > .span2 {
  width: 14.89361702%;
}
.row-fluid > .span3 {
  width: 23.404255317%;
}
.row-fluid > .span4 {
  width: 31.914893614%;
}
.row-fluid > .span5 {
  width: 40.425531911%;
}
.row-fluid > .span6 {
  width: 48.93617020799999%;
}
.row-fluid > .span7 {
  width: 57.446808505%;
}
.row-fluid > .span8 {
  width: 65.95744680199999%;
}
.row-fluid > .span9 {
  width: 74.468085099%;
}
.row-fluid > .span10 {
  width: 82.97872339599999%;
}
.row-fluid > .span11 {
  width: 91.489361693%;
}
.row-fluid > .span12 {
  width: 99.99999998999999%;
}